# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# SQLite Veritabanı (Büyük veya geçici veriler git'e eklenmez)
data/
*.db
*.sqlite

# Streamlit ve Önbellekler
.streamlit/
.cache/

# OS dosyaları
.DS_Store
Thumbs.db
